<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <script type="text/javascript" src="application.js"></script>
  </head>

  <body>
    
  <div class="resto">
    <label for="">Restaurant</label>
    <%= form_tag '/survey', method: 'post' do %>
    <select name="resto_id">
      <% @the_restos.each do |resto| %>
        <option value="<%= resto.id %>"><%= resto.name %></option>
      <% end %>
    </select>
  </div>

  <div class="prefer">
    <label for="">Preferences</label>
    <select name="foodstyle_category_id">
      <% @foodstyle_categories.each do |category| %>
        <option value="<%= category.id %>"><%= category.name %></option>
      <% end %>
    </select>
   </div>
    
  <div class="foodstyle">
         <label for="">Repas</label>
        <select name="meal_category_id">
          <% @meal_categories.each do |category| %>
            <option value="<%= category.id %>"><%= category.name %></option>
            <% end %>
        </select>
  </div>

    <label for="">Budget</label>
    <select name="budget_category_id">
      <% @budget_categories.each do |category| %>
        <option value="<%= category.id %>"><%= category.name %></option>
      <% end %>
    </select>

    <label for="">Distance</label>
    <select name="distance_category_id">
      <% @distance_categories.each do |category| %>
        <option value="<%= category.id %>"><%= category.name %></option>
      <% end %>
    </select>

    <label for="">Frequence</label>
    <select name="frequency_category_id">
      <% @frequency_categories.each do |category| %>
        <option value="<%= category.id %>"><%= category.name %></option>
      <% end %>
    </select>

    <input type="submit" value="Envoyez votre choix"/>
  <% end %>
</body>
