<%= form_with(model: autocomplete, local: true) do |form| %>
  <% if autocomplete.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(autocomplete.errors.count, "error") %> prohibited this autocomplete from being saved:</h2>

      <ul>
      <% autocomplete.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
   <%= form.label 'Le nom de resto' %>
   <%= form.text_field :address, placeholder: "Entrez le nom du resto", id: :autocomplete_address %>
 </div>


 <div class="actions">
   <div class="btn waves-effect waves-light">
     <%= form.submit "Rechercher" %>
   </div>
 </div>
<% end %>
