<!DOCTYPE html>
<html lang="fr">

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>PimpMyResto <%= @resto.name %></title>
  </head>
    
    <header>
      <div class="topshow">
        
<!--------------------------- NAME RESTAURANT ---------------------------->        
        <h1><%= @resto.name %></h1>
          <p>Il y a <%= @num_votes %> votes pour <%= @resto.name %> :</p>

<!--------------------------- / NAME RESTAURANT ---------------------------->          

<!--------------------------- TOTAUX ---------------------------->
          <div class="d-flex justify-content-around">
          <!-- <div class="petitionVVG"> -->
            <div class="container">
              <div class="row">
               
                  <div class="col-md-3 feature-center">
                    <div class="feature block">
                      <div class="fondVegan">
                        <p>Vegan <%= @num_vegan_votes %></p>
                      </div>
                    </div>
                  </div>
                  
                  <div class="col-md-3 feature-center">
                    <div class="feature block">
                      <div class="fondVegetarien">
                        <p>Végétarien <%= @num_veggie_votes %></p>
                      </div>
                    </div>
                  </div>

                  <div class="col-md-3 feature-center">
                    <div class="feature block">
                      <div class="fondGluten">
                        <p>Sans gluten <%= @num_gluten_votes %></p>
                      </div>
                    </div>
                  </div>
                  
                <div class="col-md-3 feature-center">
                  <div class="feature block">
                    <p>Au total <%= @num_votes %></p>
                  </div>
                </div>

              </div>
            </div>
          </div>
            
<!--------------------------- / TOTAUX ---------------------------->

<!--------------------------- ESSAY FORM ---------------------------->
        <div class="main flex-grow-1">
          <div class="container">
            <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
              <div class="card card-signin my-5">
                <div class="card-body">

                  <h3 class="card-title text-center">Intéréssé ? <br />
                    Vote pour une nouvelle option</h3>
                    <hr class="my-4" style="margin-bottom:2%;margin-top:2%;">

                    <%= form_tag "/restos/#{params[:id]}", method: 'post' do %>
                    <input type="hidden" name="resto_id" value=<%= @resto.id %>/>

                    <div class="form-label-group">
                      <select class="form-control" name="foodstyle_category_id">
                        <% @foodstyle_categories.each do |category| %>
                          <option value="<%= category.id %>"><%= category.name %></option>
                        <% end %>
                      </select>
                    </div>

                    <div class="form-label-group">
                      <!-- <label for="">Repas</label> -->
                      <select class="form-control" name="meal_category_id">
                        <% @meal_categories.each do |category| %>
                          <option value="<%= category.id %>"><%= category.name %></option>
                        <% end %>
                      </select>
                    </div>

                    <div class="form-label-group">
                      <!-- <label for="">Budget</label> -->
                      <select class="form-control" name="budget_category_id">
                        <% @budget_categories.each do |category| %>
                          <option value="<%= category.id %>"><%= category.name %></option>
                        <% end %>
                      </select>
                    </div>

                    <div class="form-label-group">
                      <!-- <label for="">Distance</label> -->
                      <select class="form-control" name="distance_category_id">
                        <% @distance_categories.each do |category| %>
                          <option value="<%= category.id %>"><%= category.name %></option>
                        <% end %>
                      </select>
                    </div>

                    <div class="form-label-group">
                      <!-- <label for="">Frequence</label> -->
                      <select class="form-control" name="frequency_category_id">
                        <% @frequency_categories.each do |category| %>
                          <option value="<%= category.id %>"><%= category.name %></option>
                        <% end %>
                      </select>
                    </div>

                    <button type="submit" class="btn btn-lg btn btn-secondary btn-block">Envoie ton choix</button>
                    <% end %>

                </div>
              </div>
            </div>
          </div>
        </div>     
<!--------------------------- ESSAY FORM ---------------------------->

      </div>
    </header>

  <body></body>

</html>