<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <h1>Bienvenue to
      <%= @resto.name %></h1>

      <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
      <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
      <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>


  </head>

  <body id="encule">
    <p>There are <%= @num_votes %> votes about <%= @resto.name %> :</p>
<br>
    <p>
      <%= @num_vegan_votes %>
      voted for a vegan option!
    </p>
      <br>
    <p>
      <%= @num_veggie_votes %>
      voted for a végétarien option!
    </p>
    <br>
    <p>
      <%= @num_gluten_votes %>
      voted for a gluten option!!!
    </p>
<br>
    <h3>Interested? Vote yourself for a new option at
      <%= @resto.name %></h3>
    <%= form_tag "/restos/#{params[:id]}", method: 'post' do %>
    <input type="hidden" name="resto_id" value=<%= @resto.id %> />

    <select name="foodstyle_category_id">
      <% @foodstyle_categories.each do |category| %>
        <option value="<%= category.id %>"><%= category.name %></option>
      <% end %>
    </select>

    <label for="">Repas</label>
    <select name="meal_category_id">
      <% @meal_categories.each do |category| %>
        <option value="<%= category.id %>"><%= category.name %></option>
      <% end %>
    </select>

    <label for="">Budget</label>
    <select name="budget_category_id">
      <% @budget_categories.each do |category| %>
        <option value="<%= category.id %>"><%= category.name %></option>
      <% end %>
    </select>

    <label for="">Distance</label>
    <select name="distance_category_id">
      <% @distance_categories.each do |category| %>
        <option value="<%= category.id %>"><%= category.name %></option>
      <% end %>
    </select>

    <label for="">Frequence</label>
    <select name="frequency_category_id">
      <% @frequency_categories.each do |category| %>
        <option value="<%= category.id %>"><%= category.name %></option>
      <% end %>
    </select>

    <!-- <form action="/users/sign_up"> -->
      <button type="submit" class="btn btn-success">Envoyez votre choix</button>
    <!--</form>-->
  <% end %>


<p>
  <a href="/restos">Retourner à l’index</a>
</p>




<!------ Include the above in your HEAD tag ---------->

  <!-- Add this css in head tag -->



     <!-- Here is the section -->

      <section id="counter" class="counter">
            <div class="main_counter_area">
                            <div class="main_counter_content d-flex flex-wrap justify-content-around">
                                <div class="p-2" style="width:100px;">
                                    <div class="h-100 w-100 single_counter rounded">
                                        <i class="fas fa-leaf m-b-1"></i>
                                        <br>
                                        <p>Vegan</p>
                                        <h2 class="statistic-counter"><%= @num_vegan_votes %></h2>
                                    </div>
                                </div>
                                <div class="p-2" style="width:100px;">
                                    <div class="h-100 w-100 single_counter rounded">
                                        <i class="fas fa-dove m-b-1"></i>
                                        <br>
                                        <p>Végétariens</p>
                                        <h2 class="statistic-counter"><%= @num_veggie_votes %></h2>

                                    </div>
                                </div>
                                <div class="p-2" style="width:100px;">
                                    <div class="h-100 w-100 single_counter rounded">
                                        <i class="fab fa-pagelines m-b-1"></i>
                                        <br>
                                        <p>Gluten-free</p>
                                        <h2 class="statistic-counter"><%= @num_gluten_votes %></h2>

                                    </div>
                                </div>
                                <div class="p-2" style="width:100px;">
                                    <div class="h-100 w-100 single_counter rounded">
                                        <i class="fa fa-globe m-b-1"></i>
                                        <br>
                                        <p>Au total</p>
                                        <h2 class="statistic-counter"><%= @num_votes %></h2>

                                    </div>
                                </div>
                            </div>
            </div>
        </section><!-- End of counter Section -->


<!-- Add this script before </body> -->


  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/jquery.waypoints.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Counter-Up/1.0.0/jquery.counterup.min.js"></script>

<script type="text/javascript">
  jQuery('.statistic-counter').counterUp({
      delay: 10,
      time: 2000
  });
</script>
