<!-- FOOTER -->

<div class="footer">
  	<div id="button">
  		<%= image_tag 'arrow.png', :class => 'image_footer'%>
  	</div>

    <div id="container">
 		<div class="row">
			<div class="col-4">
				<div class="footerColone">
					<div class="textleft">
		               <% if user_signed_in? %>
							<%= link_to "Editer profil", edit_user_registration_path %>
							<%= link_to "Se déconnecter", destroy_user_session_path, :method => :delete %>
							<a href="/">Accueil</a>
						<% else %>
							<b style="font-size:130%;"><%= link_to "Inscris toi", new_user_session_path %></b>
							<%= link_to "Connecte toi", new_user_registration_path %>
							<div class="radish">
								<!-- <%= link_to image_tag("radish.png"), "/" %> -->
								<a href="/">Accueil</a>
							</div>
						<% end %> 
					</div>
				</div>
           	</div>
           	<div class="col-4">
           		<div class="footerColone">
           			<div class="textleft">
		             	<a href="/users/sign_up" style="color:#D15851">Lances ton enquête</a>
						<a href="/restos">Enquêtes déjà lancées</a>
					</div>
				</div>
           	</div>
           	<div class="col-4">
	           	<div class="footerColone">
	           		<div class="textleft">
		              	<a href="/contact">Contact</a>
						<a href="/team">L'équipe</a>
						<a href="#">Mentions légales</a>
					</div>
				</div>
           	</div>
 		</div>
  	</div>
</div>