<nav class="navbar navbar-dark bg-dark">

  <div class="site-name">
    <td> <%= link_to "Take Action", survey_path%></td>
  </div>
  <div class="site-name">
    <td> <%= link_to "Browse", browse_path%></td>
  </div>
  <div class="site-name">
    <td> <%= link_to "Pimped", pimped_path%></td>
  </div>

  <div class="singup">
    <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
    <p><%='Sing Up' %></p>
    <p><%= 'Sing In' %></p>
  </div>

</div>

</nav>
