<div class="navbar">

  <div class="site-name">
    <p><%= 'Take action' %></p>
  </div>
  <div class="site-name">
    <p><%= 'Browse'%></p>
  </div>
  <div class="site-name">
    <p><%= 'Restokitu' %></p>
  </div>

  <div class="singup">
    <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
    <p><%='Sing Up' %></p>
    <p><%= 'Sing In' %></p>
  </div>

</div>
