<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="home.scss">
</head>


<nav class="navbar navbar-light bg-light">
    <nav class="navbar navbar-light bg-light">
      <a class="navbar-brand" href="#"><%= link_to "Take Action", survey_path%></a>
      <a class="navbar-brand" href="#"><%= link_to "Browse", browse_path%></a>
      <a class="navbar-brand" href="#"><%= link_to "Pimped", pimped_path%></a>

    </nav>


    <nav class="navbar navbar-light bg-light">
      <a class="navbar-brand" href="#"><%='Sing Up' %></a>
      <a class="navbar-brand" href="#"><%= 'Sing In' %></a>
</nav>

