<div class="navbar">

  <div class="site-name">
    <p><%= link_to "Take action", root_path, :class => "site_name_link" %></p>
  </div>
  <div class="site-name">
    <p><%= link_to "Browse", root_path, :class => "site_name_link" %></p>
  </div>
  <div class="site-name">
    <p><%= link_to "Restokitu", root_path, :class => "site_name_link" %></p>
  </div>

  <div class="singup">
    <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
    <p><%= link_to "Sing Up", root_path, :class => "site_name_link" %></p>
    <p><%= link_to "Sing In", root_path, :class => "site_name_link" %></p>
  </div>

</div>
